@use 'base/variables' as v;
@use 'base/mixins' as m;

.sociales{
    margin: 5rem 0;
    display: flex;

    @include m.tablet { 
        margin: 0;
     }
    &__enlace{

        &::before{
            content: '';
            padding: 2rem;
            display: inline-block;
        }
        &[href*="facebook.com"]::before{
            background-image: url(../img/facebook.svg);
        }
        &[href*="twitter.com"]::before{
            background-image: url(../img/twitter.svg);
        }
        &[href*="instagram.com"]::before{
            background-image: url(../img/instagram.svg);
        }
        &[href*="youtube.com"]::before{
            background-image: url(../img/youtube.svg);
        }
    }

    //descripción de los iconos para herramientas para invidentes
    &__accesible{
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        display: block;
    }
}